<!-- =====================================================
     Required JS (ADMINDek ORIGINAL + VIANG)
===================================================== -->

<script src="@@basePath@@assets/js/plugins/popper.min.js"></script>
<script src="@@basePath@@assets/js/plugins/simplebar.min.js"></script>
<script src="@@basePath@@assets/js/plugins/bootstrap.min.js"></script>

<!-- Core Admindek -->
<script src="@@basePath@@assets/js/script.js"></script>
<script src="@@basePath@@assets/js/theme.js"></script>