<!-- VIANG MENU -->

<li class="pc-item">
  <a href="/viang/dashboard.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-gauge"></i></span>
    <span class="pc-mtext">Dashboard</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/clientes.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-users"></i></span>
    <span class="pc-mtext">Clientes</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/produtos.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-package"></i></span>
    <span class="pc-mtext">Produtos</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/publicidade.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-chart-line-up"></i></span>
    <span class="pc-mtext">Publicidade</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/financeiro.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-currency-dollar"></i></span>
    <span class="pc-mtext">Financeiro</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/config.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-gear"></i></span>
    <span class="pc-mtext">Configurações</span>
  </a>
</li>

<li class="pc-item">
  <a href="/viang/logs.html" class="pc-link">
    <span class="pc-micon"><i class="ph ph-notebook"></i></span>
    <span class="pc-mtext">Logs / ETL</span>
  </a>
</li>