<li class="pc-item pc-caption">
  <label data-i18n="Navigation">Navigation</label>
</li>
<li class="pc-item pc-hasmenu">
  <a href="#!" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-house-line"></i>
    </span>
    <span class="pc-mtext" data-i18n="Dashboard">Dashboard Viang</span>
    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
    <span class="pc-badge">7</span>
  </a>
  <ul class="pc-submenu">
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@dashboard/analytics.html" data-i18n="Overview">Overview</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@table/dt_basic.html" data-i18n="Clientes">Clientes</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@table/tbl_bootstrap.html" data-i18n="Produtos">Produtos</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@dashboard/index.html" data-i18n="Publicidade">Publicidade</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@dashboard/finance.html" data-i18n="Financeiro">Financeiro</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@forms/form2_basic.html" data-i18n="Configurações">Config</a>
    </li>
    <li class="pc-item">
      <a class="pc-link" href="@@basePath@@table/tbl_dt-simple.html" data-i18n="Logs ETL">Logs ETL</a>
    </li>
  </ul>
</li>